repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
        exclude: test-suite/oracle
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
-   repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.1.1
    hooks:
        - id: clang-format
          args: [-i]
-   repo: https://github.com/dfm/black_nbconvert
    rev: v0.4.0
    hooks:
        - id: black_nbconvert
