# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_tflow_select=2.3.0=mkl
absl-py=0.10.0
aiohttp=3.7.4
appdirs=1.4.4
astor=0.8.1
astunparse=1.6.3
async-timeout=3.0.1
attrs=20.3.0
blas=1.0
blinker=1.4
brotlipy=0.7.0
c-ares=1.16.1
# ca-certificates=2020.12.5
cachetools=4.2.1
certifi=2020.12.5
cffi=1.14.5
# cfgv=3.2.0
chardet=3.0.4
click=7.1.2
cryptography=3.3.2
distlib=0.3.1
editdistance=0.5.3
filelock=3.0.12
gast=0.3.3
google-auth=1.27.1
google-auth-oauthlib=0.4.3
google-pasta=0.2.0
grpcio=1.31.0
h5py=2.10.0
hdf5=1.10.6
# identify=2.1.0
idna=2.10
importlib-metadata=2.0.0
importlib_metadata=2.0.0=1
intel-openmp=2020.2=254
keras-applications=1.0.8
keras-preprocessing=1.1.0
ld_impl_linux-64=2.33.1
libedit=3.1.20191231
libffi=3.3
libgcc-ng=9.1.0
libgfortran-ng=7.3.0
libprotobuf=3.13.0
libstdcxx-ng=9.1.0
markdown=3.3
mkl=2020.2=256
mkl-service=2.3.0
mkl_fft=1.2.0
mkl_random=1.1.1
mock=4.0.2
multidict=5.1.0
ncurses=6.2
# nodeenv=1.5.0
numpy=1.19.1
numpy-base=1.19.1
oauthlib=3.1.0
openssl=1.1.1k
opt_einsum=3.1.0
pip=20.2.3
# pre-commit=2.9.3f
protobuf=3.13.0
pyasn1=0.4.8
pyasn1-modules=0.2.8
pycparser=2.20
pyjwt=1.7.1
pyopenssl=20.0.1
pysocks=1.7.1
python=3.7.9
# python_abi=3.7=1_cp37m
pyyaml=5.4.1
readline=8.0
requests=2.25.1
requests-oauthlib=1.3.0
rsa=4.7.2
scipy=1.5.2
setuptools=50.3.0
six=1.15.0
sqlite=3.33.0
tensorboard=2.4.0
tensorboard-plugin-wit=1.6.0
# tensorflow=2.2.0=mkl_py37h6e9ce2d_0
tensorflow-gpu=2.2.0
tensorflow-base=2.2.0=mkl_py37hd506778_0
tensorflow-estimator=2.2.0
termcolor=1.1.0
tk=8.6.10
toml=0.10.2
typing-extensions=3.7.4.3
typing_extensions=3.7.4.3
# urllib3=1.26.5
virtualenv=20.4.2
werkzeug=1.0.1
wheel=0.35.1
wrapt=1.12.1
xz=5.2.5
yaml=0.2.5
yarl=1.6.3
zipp=3.3.0
zlib=1.2.11
