name: pre-commit checks
on:
  workflow_dispatch:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - uses: pre-commit/action@v2.0.3
