name: Publish

on:
  workflow_dispatch:
    branches: [ main ]
  push:
    branches: [ main ]
    paths:
    - '**.cpp'
    - '**.h'
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install LLVM-10.0.1
      run: wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add - && sudo apt-add-repository "deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-10 main" && sudo apt-get update && sudo apt-get install -y llvm-10 llvm-10-dev clang-10
    - uses: actions/checkout@v2
    - name: Eigen-setup
      run: |
        mkdir build && cd build
        wget https://gitlab.com/libeigen/eigen/-/archive/3.3.7/eigen-3.3.7.tar.gz
        tar -xvzf eigen-3.3.7.tar.gz
    - name: Build-Eigen
      run: |
        cd build
        mkdir eigen-build
        cd eigen-build
        cmake ../eigen-3.3.7
        make -j4 && cd ..
    - name: cmake
      run: cd build && cmake -DEigen3_DIR=./eigen-build ../src
    - name: make
      run: cd build && make -j8
    - uses: actions/upload-artifact@v2
      with:
        name: ir2vec
        path: |
          build/bin
          build/lib
